<div class="container">
    <span   class="title">
        <a  class="item__link"
            routerLink="home">
            TeleTradie.
        </a>
    </span>
    <ul class="main__menu">
        <li class="menu__item">
            <a  class="item__link"
                routerLink="home"
                routerLinkActive="link_active">
                Home
            </a>
        </li>
        <li class="menu__item">
            <a  class="item__link"
                routerLink="login"
                routerLinkActive="link_active">
                Login
            </a>
        </li>
        <li class="menu__item">
            <a  class="item__link"
                routerLink="selectprofile"
                routerLinkActive="link_active">
                Signup
            </a>
        </li>
    </ul>
</div>