<div class="container">
    <div class="get__start">
        <div class="d-flex justify-content-center my-4">
            <img src="assets\media\img\logo_sin_fondo.png" 
                alt="Logo teletradie">
            </div>
            <div class="position-relative d-flex justify-content-center">
                <h1 class="login-title">Sign In</h1>
            </div>
        <form class="row"
            [formGroup]="loginForm">
            <div class="form-login mt-3">
                <input class="form-control mb-3" type="text" placeholder="User Name" aria-label="name">
                <input class="form-control mb-3" type="text" placeholder="Password" aria-label="email">
            </div>
            <div class="position-relative d-flex align-items-center justify-content-center">
                <hr class="position-absolute hr-title">
                <h1 class="login-title-or">Or</h1>
            </div>
            <div class="position-relative d-flex justify-content-center my-3">
                <span class="fw-lighter">Sign up with Social Networks</span>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <div class="img-social">
                    <img src="assets\media\img\facebook.svg" 
                    alt="Logo teletradie">
                </div>
                <div class="img-social">
                    <img src="assets\media\img\twitter.svg" 
                    alt="Logo teletradie">
                </div>                        
            </div>
            <div class="d-flex justify-content-center">
                <a class="enlace-text" href="#">Forgot Password?</a>
            </div>
            <div class="d-grid gap-2 col-10 mx-auto my-5">
                <button class="btn btn-primary px-3 py-2 rounded-pill font-btn" type="button">Sign In</button>
                <button class="btn btn-outline-light px-3 py-2 rounded-pill font-btn my-2" 
                        type="button"
                        (click)="onBack()">Cancel</button>
            </div>
        </form>
    </div>
</div>