<div class="container_home">
    <div class="get__start">
        <img    src="assets\media\img\logo_sin_fondo.png" 
                alt="Logo teletradie"
                class="get__start--element get__start--logo">
        <h1 class="get__start--element get__start--title">TeleTradie</h1>
        <h2 class="get__start--element get__start--text">Tradie advice at DYV price</h2>
        <div class="d-flex flex-column align.items-center">
            <a  class="btn btn-light mb-3 px-5 py-2 rounded-pill font-btn profile__picture btn__start"
                routerLink="/selectprofile">
                Get Started
            </a> 
            <a  class="btn btn-outline-light px-5 py-2 rounded-pill font-btn profile__picture btn__picture"
                routerLink="/login">
                Sign In
            </a> 
        </div>
    </div>
</div>