<div class="container">
    <div class="get__start">
        <img    src="assets\media\img\logo_sin_fondo.png" 
                alt="Logo teletradie"
                class="get__start--element get__start--logo">
        <h1 class="get__start--element get__start--title">TeleTradie</h1>
        <h2 class="get__start--element get__start--text">Tradie advice at DYV price</h2>
        <div class="d-flex flex-column align-items-center">
            <h1 class="get__start--title">Are you ...</h1>
        </div>
        <div class="d-grid gap-2 col-12 mx-auto my-3">
            <button class="btn btn-light p-3 rounded-pill font-btn btn__color" type="button" (click)="onRegister(1)">Needing a Tradie?</button>
            <button class="btn btn-outline-light p-3 rounded-pill font-btn my-2" 
                    type="button" (click)="onRegister(2)">A Tradie?</button>
        </div>
    </div>
</div>